<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112967458995-qu7geq7hfdhu9db0frq7g8t0d7a4t4pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112967458995-qu7geq7hfdhu9db0frq7g8t0d7a4t4pe</string>
	<key>API_KEY</key>
	<string>AIzaSyBYq4ouMlOBneEfwjUHUAdjcnXWLp_HcFo</string>
	<key>GCM_SENDER_ID</key>
	<string>112967458995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-83cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-83cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112967458995:ios:d703479633fbc8fd3310c6</string>
</dict>
</plist>